# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

!LICENSE

### Above combination will ignore all files without extension ###

# Ignore files with extension `.class` & `.sm`
*.sm

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

logs/
bin/
scripts/client.sh
*.pb.go
*.yaml
!.protolint.yaml
!example.*.yaml
